:root{
    --color1: hsl(65, 43%, 95%);
    --color2: hsl(8, 80%, 56%);
    --color3: hsl(276, 16%, 70%);
    --color3_highlighted: hsl(195, 7%, 30%);
    --color4: hsl(260, 95%, 40%);
    --color5: hsl(168, 47%, 50%);
}

body{
    font-family: 'Roboto-thin', sans-serif;
    font-size: 35px;
    margin-left: 70px;
}

.project_image{
    max-width: 200px;
    min-width: 200px;
    width: 100%;
}

ul.nav_list{
    list-style-type: none;
    display: flex;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

ul.nav_list li{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 10px 10px;
    margin: 0;
    border: 0;
}

ul.nav_list li a{
    text-decoration: none;
    color: var(--color3);
}

ul.nav_list li a:hover{
    color: var(--color4);

    position: relative;
}

ul.nav_list li:last-child{
    position: absolute;
    right: 10em;
    background-color: var(--color3);
    border-radius: 100px;
}

ul.nav_list li:last-child a{
    color: var(--color1);
}

ul.nav_list li:last-child a:hover{
    color: var(--color3_highlighted);
}

.title{
    font-weight: normal;
    font-size: 100px;
}

.short-description{
    color: #7A7A7A;
    font-size: 20px;
}

.title-wrapper{
    display: inline-block;
    max-width: 500px;
}

.colored-accent{
    color: var(--color4);
}

.language-list{
    list-style-type: none;
    columns: 4 auto;
}

.language-list li{
    display: inline-block;
    background-color: var(--color4);
    color: var(--color1);
    padding: 25px 30px;
    margin-bottom: 20px;
    border-radius: 25px;
}

.hire-button{
    display: inline-block;
    margin-top: 5px;
    background-color: var(--color4);
    text-decoration: none;
    color: var(--color1);
    padding: 25px 30px;
    border-radius: 100px;
}