body{
    font-family: 'Times New Roman', sans-seriff;
    font-size: 22px;
}

.project_image{
    max-width: 200px;
    min-width: 200px;
    width: 100%;
}

ul.nav_list{
    list-style-type: none;
    display: flex;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

ul.nav_list li{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 10px 10px;
    background-color: #241F21;
    margin: 0;
    border: 0;
}

ul.nav_list li a{
    text-decoration: none;
    color: #e0d6b5;
}

ul.nav_list li a:hover{
    /*color: #9f926e;*/
    position: relative;
}

ul.nav_list li:last-child{
    position: absolute;
    right: 10em;
    background-color: #e1e1e1;
}

ul.nav_list li:last-child a{
    color: #363434;
}

ul.nav_list li:last-child a:hover{
    color: #000000;
}
